{{- $osDifferences := .osDifferences -}}
{{- $osidExtended := .osidExtended -}}
{{- $os := .os -}}
{{- $isWsl := .wsl -}}

{{- $nvmPath := (get (dig $osidExtended "nvm_path" $osDifferences) "nvm_path") -}}
{{- $nvmBashCompletionPath := (get (dig $osidExtended "nvm_bash_completion_path" $osDifferences) "nvm_bash_completion_path") -}}
{{- $pnpmHome := (get (dig $osidExtended "pnpm_home" $osDifferences) "pnpm_home") -}}
{{- $androidSdkHome := (get (dig $osidExtended "android_sdk_home_path" $osDifferences) "android_sdk_home_path") -}}

source {{ get (dig $osidExtended "antidote_path" $osDifferences) "antidote_path" }}

function is-macos() {
  [[ $OSTYPE == darwin* ]]
}

ZSH_THEME=robbyrussell

EDITOR=nvim
VISUAL=nvim
alias vim=nvim
alias vi=nvim

autoload -Uz promptinit && promptinit && prompt pure &> /dev/null

antidote load

export GITHUB_TOKEN={{ trimPrefix "SHA256:/" (onepasswordRead "op://Private/Github OS/fingerprint") }}
export GIT_USERNAME={{onepasswordRead "op://Private/Github OS/username"}}
export GIT_PASSWORD=$GITHUB_TOKEN
export NPM_TOKEN={{onepasswordRead "op://Private/Github OS/npmAuthToken"}}

export NVM_DIR="$HOME/.nvm"
[ -s "{{ $nvmPath }}" ] && \. "{{ $nvmPath }}"  # This loads nvm
[ -s "{{ $nvmBashCompletionPath }}" ] && \. "{{ $nvmBashCompletionPath }}"  # This loads nvm bash_completion

#THIS MUST BE AT THE END OF THE FILE FOR SDKMAN TO WORK!!!
export SDKMAN_DIR="$HOME/.sdkman"
[[ -s "$HOME/.sdkman/bin/sdkman-init.sh" ]] && source "$HOME/.sdkman/bin/sdkman-init.sh"

# pnpm
export PNPM_HOME="{{ $pnpmHome }}"
case ":$PATH:" in
  *":$PNPM_HOME:"*) ;;
  *) export PATH="$PNPM_HOME:$PATH" ;;
esac
# pnpm end


export ANDROID_HOME={{ $androidSdkHome }}
export ANDROID_SDK_ROOT=$ANDROID_HOME
export PATH=$PATH:$ANDROID_HOME/emulator
export PATH=$PATH:$ANDROID_HOME/tools
export PATH=$PATH:$ANDROID_HOME/tools/bin
export PATH=$PATH:$ANDROID_HOME/platform-tools
