# Generated using chezmoi

source /opt/homebrew/opt/antidote/share/antidote/antidote.zsh

function is-macos() {
  [[ $OSTYPE == darwin* ]]
}

ZSH_THEME=robbyrussell

EDITOR=nvim
VISUAL=nvim
alias vim=nvim
alias vi=nvim

autoload -Uz promptinit && promptinit && prompt pure &> /dev/null

antidote load

export GITHUB_TOKEN={{ trimPrefix "SHA256:/" (onepasswordRead "op://Private/Github OS/fingerprint") }}
export GIT_USERNAME={{onepasswordRead "op://Private/Github OS/username"}}
export GIT_PASSWORD=$GITHUB_TOKEN

export PATH="$HOME/.jenv/bin:$PATH"
eval "$(jenv init -)"

export NVM_DIR="$HOME/.nvm"
[ -s "/opt/homebrew/opt/nvm/nvm.sh" ] && \. "/opt/homebrew/opt/nvm/nvm.sh"  # This loads nvm
[ -s "/opt/homebrew/opt/nvm/etc/bash_completion.d/nvm" ] && \. "/opt/homebrew/opt/nvm/etc/bash_completion.d/nvm"  # This loads nvm bash_completion

#THIS MUST BE AT THE END OF THE FILE FOR SDKMAN TO WORK!!!
export SDKMAN_DIR="$HOME/.sdkman"
[[ -s "$HOME/.sdkman/bin/sdkman-init.sh" ]] && source "$HOME/.sdkman/bin/sdkman-init.sh"

# pnpm
export PNPM_HOME="/Users/caio/Library/pnpm"
case ":$PATH:" in
  *":$PNPM_HOME:"*) ;;
  *) export PATH="$PNPM_HOME:$PATH" ;;
esac
# pnpm end
