{{- $osDifferences := .osDifferences -}}
{{- $osidExtended := .osidExtended -}}
{{- $jetbrainsToolboxScriptsPath := (get (dig $osidExtended "jetbrains_toolbox_scripts_path" $osDifferences) "jetbrains_toolbox_scripts_path") -}}

{{ if eq .chezmoi.os "darwin" -}}
eval "$(/opt/homebrew/bin/brew shellenv)"

if [ -d "/opt/homebrew/opt/ruby/bin" ]; then
  export PATH=/opt/homebrew/opt/ruby/bin:$PATH
  export PATH=`gem environment gemdir`/bin:$PATH
fi
{{ else -}}
if [ -f $(which ruby) ]; then
  export PATH=`gem environment gemdir`/bin:$PATH
fi

{{ end -}}

# Added by Toolbox App
export PATH="$PATH:{{ $jetbrainsToolboxScriptsPath }}"
