{{- $osDifferences := .osDifferences -}}
{{- $osidExtended := .osidExtended -}}
{{- $os := .os -}}
{{- $isWsl := .wsl -}}

[init]
  defaultBranch = main
[core]
  editor = nvim
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[gpg]
	format = ssh
[gpg "ssh"]
	program = {{ get (dig $osidExtended "gpg_ssh_1password_path" $osDifferences) "gpg_ssh_1password_path" }}
[commit]
	gpgsign = true
[user]
	signingkey = {{onepasswordRead "op://Private/Github OS/public key"}}
	name = {{ .name }}
	email = {{ .email }}
[push]
	autoSetupRemote = true


{{ if ( and (eq $os "linux") (eq $isWsl "true")) -}}
[credential "https://github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential
{{ end -}}

