{{- $osDifferences := .osDifferences -}}
{{- $osidExtended := .osidExtended -}}
{{- $os := .os -}}
{{- $isWsl := .wsl -}}

[init]
  defaultBranch = main
[core]
  editor = nvim
{{- if ( and (eq $os "linux") (eq $isWsl "true")) }}
  sshCommand = ssh.exe
{{- end }}
{{ if eq $os "darwin" -}}
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
{{ end -}}
{{- $gpgProgram := get (dig $osidExtended "gpg_ssh_1password_path" $osDifferences) "gpg_ssh_1password_path" -}}
{{- if and (eq $isWsl "true") (contains "<Username>" $gpgProgram) -}}
{{-   $winUser := "" -}}
{{-   if hasKey . "windowsUser" -}}
{{-     $winUser = .windowsUser -}}
{{-   end -}}
{{-   if not $winUser -}}
{{-     $winUser = output "powershell.exe" "-NoProfile" "-Command" "$env:USERNAME" | trim -}}
{{-   end -}}
{{-   if not $winUser -}}
{{-     $winUser = output "cmd.exe" "/c" "echo %USERNAME%" | trim -}}
{{-   end -}}
{{-   $gpgProgram = replace "<Username>" $winUser $gpgProgram -}}
{{- end -}}
[gpg]
	format = ssh
[gpg "ssh"]
	program = {{ $gpgProgram }}
[commit]
	gpgsign = true
[user]
	signingkey = {{onepasswordRead "op://Private/Github OS/public key"}}
	name = {{ .name }}
	email = {{ .email }}
[push]
	autoSetupRemote = true


{{ if ( and (eq $os "linux") (eq $isWsl "true")) -}}
[credential "https://github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential
{{ end -}}

