{{- $osDifferences := .osDifferences -}}
{{- $osidExtended := .osidExtended -}}

#!/bin/bash
set -e

{{ if (and (eq .osid "linux-arch") (eq .wsl "false") ) -}}

sudo systemctl enable zerotier-one
sudo systemctl start zerotier-one

sudo groupadd docker || true
sudo usermod -aG docker $USER || true
sudo groupadd adbusers || true
sudo usermod -aG adbusers $USER || true
sudo usermod -aG tfenv ${USER} || true

# This allows xanmod kernel installation
sudo gpg --keyserver hkp://pgp.rediris.es --recv-keys ABAF11C65A2970B130ABE3C479BE3E4300411886
gpg --keyserver hkp://pgp.rediris.es --recv-keys ABAF11C65A2970B130ABE3C479BE3E4300411886

{{- end }}
