{{- $osDifferences := .osDifferences -}}
{{- $osidExtended := .osidExtended -}}
{{- $sshAgentEnabled := (get (dig $osidExtended "ssh_agent_1password_enabled" $osDifferences) "ssh_agent_1password_enabled") -}}
{{- $sshAgentPath := (get (dig $osidExtended "ssh_agent_1password_path" $osDifferences) "ssh_agent_1password_path") -}}

{{ if eq $sshAgentEnabled true -}}
Host *
	IdentityAgent "{{ $sshAgentPath }}"
{{ end }}

{{ if eq .chezmoi.os "darwin" -}}
Include /Users/caio/.colima/ssh_config
{{ end -}}